h1
{
	color: green;

}

h2
{
	color: blue;
}

.rouge
{
	color: red;
}

.cache
{
	border: none;
	background-color: rgba(0,0,0,0);
	font-size: 1rem;
	color: green;
}

.er
{
	border: none;
	background-color: rgba(0,0,0,0);
	font-size: 1rem;
	color: red;	
}


