body,html 

{
background: url(fond.jpg);
background-repeat: no-repeat;
background-size: cover;
  margin: 0;
  font-family: sans-serif;
}

.c1
{
font-size: 3.5em

}

.c2
{
	margin: 10px 0px 30px 200px;
	border: 2px solid yellow;
	border-radius: 30px;
	padding: 5px;

}

.c3
{

  text-align: right;

}

a

{

	font-size: 1rem;
	text-align: center;
	display: block;

}

.c5 
{
  padding: 0;
  width: 100%;
}

.c6
{
  display: block;
}

.c7

{
  outline: none;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 2;
  color: white;
  background: indianred;
}


.c7:hover 

{
    background: lightgreen;

}

h1
{
color: white;

}

h2
{
color: white;

}

.c4
{
padding-left: -150px;
}