body,html 

{
  background: url(fond.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  margin: 0;
  font-family: sans-serif;
}

body
{
  font-family: Verdana, Calibri, sans-serif;
  margin: 0px;
  padding: 0px;
}

nav > ul
{
  margin: 0px;
  padding: 0px;
}

nav li
{
  list-style-type: none;
}

nav > ul > li 
{
  float: left;
  position: relative;
}

.submenu
{
  display: none;
}

nav input[type=checkbox]
{
  display: none;
} 

.menu-mobile
{
  display: none;
}

nav
{
  width: 100%;
  background-color: #424558;
}

nav > ul >li 
{
  float: left;
  position: relative;
}

nav > ul::after
{
  content: "";
  display: table;
  clear: both;
}

nav a 
{
  display: inline-block;
  text-decoration: none;
}

nav > ul > li > a 
{
  padding: 20px 30px;
  color: #FFF;
}


nav li:hover .submenu
{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
}

.submenu li 
{
border-bottom: 1px solid #CCC;
}

.submenu li a 
{
  padding: 15px 30px;
  font-size: 13px;
  color: #222538;
  width: 270px;
}

.menu-site1:hover
{
  border-top: 5px solid #e44d26;
  background-color: rgba(228, 77, 38, 0.15);
}

.menu-site2:hover
{
  border-top: 5px solid #0070bb;
  background-color: rgba(000, 112, 192, 0.15);
}

.menu-site3:hover
{
  border-top: 5px solid #f1dc4f;
  background-color: rgba(241, 211, 79, 0.15);
}

.menu-site4:hover
{
  border-top: 5px solid #39BD5B;
  background-color: rgba(57, 189, 91, 0.15);
}

.menu-site5:hover
{
  border-top: 5px solid #78006B;
  background-color: rgba(120, 0, 107, 0.15);
}

.menu-site6:hover
{
  border-top: 5px solid #78CFBE;
  background-color: rgba(120, 207, 190, 0.15);
}

.menu-site7:hover
{
  border-top: 5px solid #78CFBE;
  background-color: rgba(0, 101, 80, 0.15)
}

.menu-site8:hover
{
  border-top: 5px solid #FF0000;
  background-color: rgba(255, 0, 0, 0.15);
}

.menu-site9:hover
{
  border-top: 5px solid #576BFF;
  background-color: rgba(87, 107, 255, 0.15);
}

.menu-site10:hover
{
  border-top: 5px solid #FFF;
  background-color: rgba(200, 200, 255, 0.15);
}

nav > ul > li:hover a 
{
padding: 15px 30px 20px 30px;
}

.menu-site1 .submenu
{
  background-color: rgb(230, 100, 40);
}

.menu-site2 .submenu
{
  background-color: rgb(000, 160, 240);
}

.menu-site3 .submenu
{
  background-color: rgb(251, 216, 99);
}

.menu-site4 .submenu
{
  background-color: rgb(57, 190, 91);
}

.menu-site5 .submenu
{
  background-color: rgb(120, 0, 107);
}

.menu-site6 .submenu
{
  background-color: rgb(120, 207, 190);
}

.menu-site7 .submenu
{
  background-color: rgb(0, 101, 80);
}

.menu-site8 .submenu
{
  background-color: rgb(255, 0, 0);
}

.menu-site9 .submenu
{
  background-color: rgb(87, 107, 255);
}

.menu-site10 .submenu
{
  background-color: rgb(200, 200, 255);
}

.submenu li:hover a 
{
  color: #EEE;
  font-weight: bold;
}

.menu-site1 .submenu li:hover
{
  background-color: rgb(210, 77, 60);
}

.menu-site2 .submenu li:hover
{
  background-color: rgb(000, 115, 200);
}

.menu-site3 .submenu li:hover
{
  background-color: rgb(200, 165, 75);
}

.menu-site4 .submenu li:hover
{
  background-color: rgb(57, 190, 91);
}

.menu-site5 .submenu li:hover
{
  background-color: rgb(120, 0, 107);
}

.menu-site6 .submenu li:hover
{
  background-color: rgb(120, 207, 190);
}

.menu-site7 .submenu li:hover
{
  background-color: rgb(0, 101, 80);
}

.menu-site8 .submenu li:hover
{
  background-color: rgb(255, 0, 0);
}

.menu-site9 .submenu li:hover
{
  background-color: rgb(87, 107, 255);
}

.menu-site10 .submenu li:hover
{
  background-color: rgb(200, 200, 255);
}


nav input[type=checkbox]:checked ~ ul
{
display: block;
}

@media screen and (max-width : 680px)
{
  .menu-mobile
  {
    display: block;
    color: #fff;
    background-color:rgba(29, 197, 151, 0.97);
    text-align: center;
    padding: 12px 0;
  }
  nav ul
  {
    display: none;
  }

  nav ul li, nav ul li a 
  {
    width: 100%;
    text-align: center;
  }

  nav ul li a , nav ul li:hover a 
  {
    padding: 10px 0px 10px 0px;
  }

  nav li:hover .submenu
  {
    display: block;
    position: static;
  }

}
