.page
{
width: 800px;
height:850px;
border: 3px solid darkred;
font-size: 16px;
font-family: verdana;
margin: auto;
padding: 10px;
box-shadow: 2px 4px 3px black;

}

.entete
{
width: 97.5%;
border: 2px solid blueviolet;
height: 150px;
margin-right: 50%;
padding: 5px;
}

.info
{
width: 40%;
border: 3px solid green;
float: left;
background-color:#dddddd;

}

.img
{

border: 1px;	
float: right;

}

.form
{
border: 3px solid #8AF160;
height: 275px;
padding: 5px;

}

.left
{
float: left;
border: 1px solid red;

}

.right
{
float: right;
width: 70%;
border: 1px solid blue;
height: 212px;

}

.tt
{
height: 50px;
}

.ab
{
height: 155px;
}


.exp
{
padding: 5px;
border: 1px solid #A016A2;
height: 120px;
}

.lg
{
padding: 5px;
border: 3px solid #FA8072;
height: 220px;	

}