p1
{
	color: red;
	font-size: 30px;
}

p2
{
	color: blue;
	font-size: 30px;
}

div
{
	margin: auto;
	width: 30%;
	height: 200px;
	border: 2px solid blue;
	background-color: yellow;
	padding-top: 120px;
	text-align: center;

}